$primary: (
    color: #b62025,
    dark:  darken(#b62025, 10%),
    light: lighten(#b62025, 10%)
);

@import "@daemonite/material";
@import './messages';

.content-wrapper {
    margin-top: 56px;
}

#message-box {
    margin-bottom: 24px;
}

.fixed-bottom {
    margin-bottom: 0px;
}

@include media-breakpoint-up(lg) {
    .content-wrapper {
        margin-left: $navdrawer-width;
    }
}

@include media-breakpoint-up(lg) {
    .fixed-bottom {
        margin-left: $navdrawer-width;
    }
}

.doc-jumbotron {
    background-color: #b62025;
    //background-image: url(../static/images/jumbotron.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 7rem;
}

.main-input {
    padding: 10px;
    margin: 10px;
}

.inline-icon {
    display: inline-flex;
    vertical-align: top;
}

.roll {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 200ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 200ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-delay: 100ms;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}