$primary: (
    color: #b62025,
    dark:  darken(#b62025, 10%),
    light: lighten(#b62025, 10%)
);

@import "@daemonite/material";
@import './messages';

.content-wrapper {
    margin-top: 56px;
}

#message-box {
    margin-bottom: 24px;
}

.fixed-bottom {
    margin-bottom: 0px;
}

@include media-breakpoint-up(lg) {
    .content-wrapper {
        margin-left: $navdrawer-width;
    }
}

@include media-breakpoint-up(lg) {
    .fixed-bottom {
        margin-left: $navdrawer-width;
    }
}

.doc-jumbotron {
    background-color: #b62025;
    //background-image: url(../static/images/jumbotron.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 7rem;
}

.main-input {
    padding: 10px;
    margin: 10px;
}