[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

eventlet = "*"
Flask = "*"
Flask-Login = "*"
Flask-Moment = "*"
Flask-Migrate = "*"
Flask-SocketIO = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
greenlet = "*"
Werkzeug = "*"


[dev-packages]

