{% extends "base.html" %}

{% block navbar %}
<div class="btn-group btn-group-fluid" role="group">
    <!-- USER LIST -->
    <div class="btn-group" role="group">
        <button class="btn btn-outline btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
            <i class="material-icons">group</i>
        </button>
            <div id="player-list" class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
            </div>
    </div>

    <!-- TEXT EDITOR -->
    <button class="btn btn-outline btn-sm" data-toggle="modal" data-target="#text-editor">
        <i class="material-icons">insert_comment</i>
    </button>
</div>
{% endblock %}

{% block play %}

<div id="message-box" style="padding: 24px;"></div>

<div class="form-group fixed-bottom bg-light">
    <input id="text" class="form-control main-input"></input>
</div>

<div class="modal fade" id="text-editor" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Message Editor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <div class="btn-group" data-toggle="buttons" role="group">
  <button class="btn btn-outline btn-sm" disabled>
    <i class="material-icons">attach_file</i>
  </button>
  <label class="btn btn-outline btn-sm active">
    <input autocomplete="off" checked name="options2" type="checkbox">
    <i class="material-icons">format_bold</i>
  </label>
  <label class="btn btn-outline btn-sm active">
    <input autocomplete="off" checked name="options2" type="checkbox">
    <i class="material-icons">format_italic</i>
  </label>
  <label class="btn btn-outline btn-sm active">
    <input autocomplete="off" checked name="options2" type="checkbox">
    <i class="material-icons">format_underlined</i>
  </label>
  <div class="btn-group" role="group">
    <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline btn-sm dropdown-toggle" data-toggle="dropdown" id="toggleBtnDrop1" type="button"><i class="material-icons">format_color_text</i></button>
    <div aria-labelledby="toggleBtnDrop1" class="dropdown-menu dropdown-menu-sm">
      <a class="dropdown-item" href="#">Colour 1</a>
      <a class="dropdown-item" href="#">Colour 2</a>
      <a class="dropdown-item" href="#">Colour 3</a>
    </div>
  </div>
  <div class="btn-group" role="group">
    <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline btn-sm dropdown-toggle" data-toggle="dropdown" id="toggleBtnDrop2" type="button"><i class="material-icons">format_color_fill</i></button>
    <div aria-labelledby="toggleBtnDrop2" class="dropdown-menu dropdown-menu-sm">
      <a class="dropdown-item" href="#">Colour 1</a>
      <a class="dropdown-item" href="#">Colour 2</a>
      <a class="dropdown-item" href="#">Colour 3</a>
    </div>
  </div>
</div>
            <textarea class="form-control" id="text-editor-area" rows="12"></textarea>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="text-editor-submit" type="button" class="btn btn-primary" data-dismiss="modal" onclick="play.on_text_editor_submit()">Submit</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() { play.run() });
</script>

{% endblock %}