{% extends "base.html" %}

{% block navbar %}
<div class="btn-group btn-group-fluid" role="group">
    <!-- USER LIST -->
    <div class="btn-group" role="group">
        <button class="btn btn-outline btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
            <i class="material-icons">group</i>
        </button>
            <div id="player-list" class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
            </div>
    </div>

    <!-- TEXT EDITOR -->
    <button class="btn btn-outline btn-sm" data-toggle="modal" data-target="#text-editor">
        <i class="material-icons">insert_comment</i>
    </button>
</div>
{% endblock %}

{% block play %}

<div id="message-box" style="padding: 24px;"></div>

<div class="form-group fixed-bottom bg-light">
    <input id="text" class="form-control main-input"></input>
</div>

{% include "message_editor.html" %}

<script>
    $(document).ready(function() { 
        play.run()

        $('.count').each(function () {
            $(this).prop('Counter',0).animate({
                Counter: $(this).text()
            }, {
                duration: 8000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
    });
</script>

{% endblock %}