<a class="nav-item nav-link" href="{{ url_for('main.index') }}"><i class="material-icons mr-3">home</i><strong>Home</strong></a>

{% if current_user.is_anonymous %}
    <a class="nav-item nav-link" href="{{ url_for('auth.login') }}"><i class="material-icons mr-3">lock_open</i><strong>Login</strong></a>
    <a class="nav-item nav-link" href="{{ url_for('auth.register') }}"><i class="material-icons mr-3">account_box</i><strong>Register</strong></a>
{% else %}
    <a class="nav-item nav-link" href="{{ url_for('user.characters') }}"><i class="material-icons mr-3">face</i><strong>Characters</strong></a>

    {% if request.url_rule.endpoint == 'play.play' %}
        <a class="nav-item nav-link" href="{{ url_for('play.leave_room') }}"><i class="material-icons mr-3">directions_run</i><strong>Leave</strong></a>
    {% else %}
        <a class="nav-item nav-link" href="{{ url_for('play.play') }}"><i class="material-icons mr-3">play_arrow</i><strong>Play</strong></a>
    {% endif %}

    <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}"><i class="material-icons mr-3">lock</i><strong>Logout</strong></a>
{% endif %}